function familiarityHashForPage(callback) {
    if (typeof(callback) != 'function') {
        callback = function (familiarity_hash) {
            console.log('familiarity_hash');
            console.log(familiarity_hash);
        }
    }
    $.get("<%= Familiarity::Engine.routes.url_helpers.familiarities_path(format: 'json') %>", function (data) {
        var familiarity_hash = data[$(location).attr('pathname')]
        if (familiarity_hash == null) {
            familiarity_hash = {}
        }
        callback(familiarity_hash);
    });
}

function familiarityView(enable) {
    if (typeof(enable) == 'undefined') {
        enable = true;
    }
    if (enable == true) {
        //Making bubble pop-out //////////////////
        familiarityHashForPage(function (familiarity_hash) {
                    $.each(familiarity_hash, function (k, v) {
                        var element = $(k);
                        element.addClass('familiarity-bubble-parent');
//                        element.attr('title', v);
                        element.tooltipster({
                            content: $('<span><strong>' + v + '</strong></span>'),
                            maxWidth: 400,
                            animation: 'slide', //fade, grow, swing, slide, fall
                            autoClose: true, //true, false
                            position: 'bottom-right', //right, left, top, top-right, top-left, bottom, bottom-right, bottom-left
                            delay: 500,
                            speed: 500,
                            theme: 'tooltipster-default',
                            touchDevices: false,
                            trigger: 'custom' //hover, click, custom
                        });
                        element.tooltipster('show');
                    });
                }
        );

        var _body = $('body');
        _body.addClass('familiarity-view');
        var _div = $('<div id="familiarity_dim"></div>');
        _div.appendTo(_body);

    } else {
        $.each($('.familiarity-bubble-parent'), function (index, element) {
            $(element).removeClass('familiarity-bubble-parent').tooltipster('destroy');
        });
//        $('.familiarity-bubble-parent').removeClass('familiarity-bubble-parent');
        $('#familiarity_dim').remove();
        $('body').removeClass('familiarity-view');
    }
}