<!DOCTYPE html>
<html>
<head>
  <title>Familiarity</title>
  <%= stylesheet_link_tag    "familiarity/application", media: "all" %>
  <%= javascript_include_tag "familiarity/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
